<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297220641740-mlslcpnp2fa97dqhohurldi1nkaamhuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297220641740-mlslcpnp2fa97dqhohurldi1nkaamhuc</string>
	<key>API_KEY</key>
	<string>AIzaSyDbaQISqxR9j1f3uqJS2sBX6N2-ewTQAHs</string>
	<key>GCM_SENDER_ID</key>
	<string>297220641740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jennifer-Chukuemeka.Shopping</string>
	<key>PROJECT_ID</key>
	<string>shopping-86a87</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-86a87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297220641740:ios:c077bd25365e1ea1188369</string>
</dict>
</plist>